/* Strapline */
@font-face {
  font-family: 'PT Serif';
  src: 
    url('PT_Serif/PTSerif-BoldItalic.ttf') format('truetype');
  font-weight: bold; 
  font-style: italic; 
  font-display: swap;
}
/* Body / Paragraphs / Nav */
@font-face {
  font-family: 'Droid Serif';
  src: 
    url('droid-serif/DroidSerif-Regular.ttf') format('truetype'),
    url('droid-serif/DroidSerif-Regular.woff') format('woff');
  font-weight: normal; 
  font-style: normal;
  font-display: swap; 
}
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
/* control content scrollbar shift */
html{
  /* margin-left: calc(100vw - 100%); */
  margin-right: 0;
  padding-right: 0;
}

html, body{
  overflow-X: hidden;
}
body {
  background: white;
  font-size: 22px;
	line-height: 1.6;
	font-family: 'Droid Serif', serif;
	position: relative; 
  /* margin-right: 8px; */
}

header, footer{
  position: relative;
	width: 100%;
  margin: 10px auto;
  /* margin: 2px auto 5px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div{
  display: flex;
  align-items: flex-end;
}
header img{
  scale: 1;
  margin-left: 5px;
}
header h1{
  font-family: 'PT Serif', serif;
  margin-left: 0px;
  font-size: 1rem;
  word-spacing: -1px;
}
.nav-icons {
  position: absolute;
  top: 0;
  right: 5px;
  margin-right: 5px;
  font-size: 3.3rem;
  line-height: 2rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
#burger {
  display: block;
  user-select: none;
}
#close-nav-btn {
  z-index: 10000;
  display: none;
  opacity: .1;
  margin-top: 4px;
  margin-right: 8px;
  font-size: 2.3rem;
  line-height: 2rem;
  user-select: none;
}
/* nav container css see below */


/* ARTISTS */
.wrapper {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}
section {
	padding: 4rem;
  /* min-height: 200px; */
  background-size: 100%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center top;
}
h2,h3{
  line-height: 1.2;
  margin-bottom: 6px;
}
h3{
  font-size: 1.5rem;
  padding-bottom: 30px;
}
.image-section{
  min-height: 400px;
}


footer{
  margin: 80px auto;
  justify-content: center;
}


.striker{
  font-weight: bold;
}







/* NAV */
#nav-container {
  overflow: hidden;
  /* display: flex; */
  display: none;
  margin: 10px auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: #fff;
  /* clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0); */
} 
/* NAV ANIMATION / SEE JS */
#nav-container.open {
  animation: clipPathOpen .5s ease-out forwards;
}
@keyframes clipPathOpen {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  }
  100% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

#nav-container.close {
  animation: clipPathClose .5s ease-out forwards;
}
@keyframes clipPathClose {
  0% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  }
}
/*  */
/*  */
/*  */


#nav-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 95%;
  margin-top: 0px;
}
.nav-content-inner{
  margin-top: 0;
}
.nav-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.nav-brand img.tower{
  border-radius: 50%;
  margin-bottom: 35px;
}
.nav-brand img.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
  user-select: none;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.socials{
  display: flex;
  gap: 2rem;
}
.socials img{
  width: 40px;
  height: auto;
}
#spotify{
  width: 60px;
  margin: -10px 5px 0;
}






/* MODAL */
#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: #111;
}
#modal{
  position: relative;
}
#close-modal{
  position: absolute;
  top: 5%;
  right: 1px;
  font-size: 1rem;
  line-height: 2rem;
  padding: 8px 0 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  background: #000;
  color: white;
  opacity: .5;
}
#modal img{
  max-width: 100%;
  max-height: 100%;
}








/* RESPONSIVE */
@media (min-width: 640px){
  header h1{
    font-size: 1.2rem;
  }
}

@media (min-width: 900px){
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px){
  header{
    width: 99%;
  }
  header h1{
    margin-left: 6px;
  }
  .wrapper {
	  margin: 10px auto;
    grid-template-columns: repeat(3, 1fr);
  }
  #nav-content {
    margin-top: 0px;
  }
  .nav-content-inner{
    margin-top: -200px;
  }
}

@media (min-width: 2300px){
  header{
    padding: 10px 0;
  }
  .nav-icons{
    padding: 10px 0;
  }
  section h2, section h3, section p{
    width: 50%;
    margin: 0% auto;
  }
  section h2{
    margin-top: 10%;
  }
  .image-section{
    min-height: 600px;
  }
}

@media (min-width: 3400px){
  #nav-container.open {
    animation: clipPathOpen .0s ease-out forwards;
  }
  .wrapper{
    max-width: 3400px;
    margin: 10px auto;
  }
  .wrapper, #burger, #close-nav-btn{
    transition: all .1s ease-in;
  }
  .wrapper.comp{
    opacity: .1;
    margin-right: 15px;
  }
  #burger.comp{
    opacity: .1;
    margin-right: 15px;
  }
  #close-nav-btn{
    opacity: .1;
    margin-right: 15px;
  }
}


@media (max-width: 350px){
  h1{
    display: none;
  }
}